body{
    font-family: 'Sarabun', sans-serif;
}
h4{
    font-family: 'Sarabun', sans-serif;
}
.sidebar{
    font-family: 'Sarabun', sans-serif;
}
#u1{
    font-family: 'Sarabun', sans-serif;
}
.list-unstyled{
    font-family: 'Sarabun', sans-serif;
}
.sidebar-body{
    font-family: 'Sarabun', sans-serif;
}
.search-form{
    font-family: 'Sarabun', sans-serif;
}
.auth-form-wrapper{
    font-family: 'Sarabun', sans-serif;
}
